{{!< layout}}

<div id="code-stats-overview">
    <div class="stats-overview">
        <div class="stats-switcher">
            <ol class="repo-stats">
                <li>
                    <a href="https://bitbucket.org/{{repoPath}}/commits" target="_top">
                        <i class="aui-icon aui-icon-small aui-iconfont-devtools-commit"></i>
                        <span class="number">{{codeStats.commitCount}}</span> commits
                    </a>
                </li>
                <li>
                    <a href="https://bitbucket.org/{{repoPath}}/addon/{{addonKey}}/code-stats-contributors" target="_top">
                        <i class="aui-icon aui-icon-small aui-iconfont-admin-roles"></i>
                        <span class="number">{{codeStats.contributors.length}}</span>
                        {{#if codeStats.singleContributor}}contributor{{else}}contributors{{/if}}
                    </a>
                </li>
            </ol>
            <ol class="languages-stats">
                {{#each codeStats.languages}}
                    <li>
                        <a>
                            <span class="lang-color" style="background: {{langColor}};"></span>
                            <span class="lang">{{lang}}</span>
                            <span class="percent">{{percent}}</span>
                        </a>
                    </li>
                {{/each}}
            </ol>
        </div>
    </div>
    <div class="languages-graph">
        {{#each codeStats.languages}}
            <div class="lang-color" style="background: {{langColor}}; width: {{percent}}"></div>
        {{/each}}
    </div>
</div>

<script>




$('.languages-graph').on('click', function () {
    $('.stats-switcher').toggleClass('show-language-stats');
});

</script>