{{!< layout}}

<div id="code-stats-overview">
    <div class="stats-overview">
        <div class="stats-switcher">
            <ol class="repo-stats">
                <li>
                    <a href="https://bitbucket.org/{{repoPath}}/commits" target="_top">
                        <i class="aui-icon aui-icon-small aui-iconfont-devtools-commit"></i>
                        <span class="number">{{codeStats.commitsCount}}</span>
                        commit{{#if codeStats.commitsCountPlural}}s{{/if}}
                    </a>
                </li>
                <li>
                    <a href="https://bitbucket.org/{{repoPath}}/branches" target="_top">
                        <i class="aui-icon aui-icon-small aui-iconfont-devtools-branch"></i>
                        <span class="number">{{codeStats.branchesCount}}</span>
                        branch{{#if codeStats.branchesCountPlural}}es{{/if}}
                    </a>
                </li>
                <!--
                <li>
                    <a href="https://bitbucket.org/{{repoPath}}/addon/bitbucket-graphs/graphs-repo-page" target="_top">
                        <i class="aui-icon aui-icon-small aui-iconfont-admin-roles"></i>
                        <span class="number">{{codeStats.contributorsCount}}</span>
                        contributor{{#if codeStats.contributorsCountPlural}}s{{/if}}
                    </a>
                </li>
                -->
            </ol>
            {{#if codeStats.languages}}
                <ol class="languages-stats">
                    {{#each codeStats.languages}}
                        <li>
                            <a>
                                <span class="lang-color" style="background: {{langColor}};"></span>
                                <span class="lang">{{lang}}</span>
                                <span class="percent">{{percent}}</span>
                            </a>
                        </li>
                    {{/each}}
                </ol>
            {{/if}}
        </div>
    </div>
    {{#if codeStats.languages}}
        <div class="languages-graph">
            {{#each codeStats.languages}}
                <div class="lang-color" style="background: {{langColor}}; width: {{percent}}"></div>
            {{/each}}
        </div>
    {{/if}}
</div>

{{#if codeStats.languages}}
    <script>
        $(document).on('ready', function () {
            var othersPercent = 0;
            var $othersLanguages = $('#code-stats-overview .languages-stats li:nth-child(n+6)');

            $othersLanguages.each(function () {
                var $li = $(this).hide();
                var $liPercent = $li.find('a .percent').text();
                othersPercent += parseFloat($liPercent);
            });

            if ($othersLanguages.length) {
                $('#code-stats-overview .languages-stats li:nth-child(5)').after(
                    '<li>'                                                                    + '\r\n' +
                        '<a>'                                                                 + '\r\n' +
                            '<span class="lang-color" style="background: #cccccc;"></span>'   + '\r\n' +
                            '<span class="lang">Others</span>'                                + '\r\n' +
                            '<span class="percent">' + othersPercent + '%</span>'             + '\r\n' +
                        '</a>'                                                                + '\r\n' +
                    '</li>'
                );
            }
        });

        $('.languages-graph').on('click', function () {
            $('.stats-switcher').toggleClass('show-language-stats');
        });
    </script>
{{/if}}