{{!< layout}}

<div id="code-stats-overview">
    <ol class="numbers">
        {{#each codeStats.languages}}
            <li>
                <a>
                    <span class="lang-color" style="background: {{langColor}};"></span>
                    <span class="lang">{{lang}}</span>
                    <span class="percent">{{percent}}</span>
                </a>
            </li>
        {{/each}}
    </ol>
    <div class="graph">
        {{#each codeStats.languages}}
            <div class="lang-color" style="background: {{langColor}}; width: {{percent}}"></div>
        {{/each}}
    </div>
</div>